* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: rgb(134, 5, 134);
}

.heading {
    margin: 0% 1%;
    color: white;
}

.date {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 10%;
}

.container-time {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.time {
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: rgb(134, 5, 134);
    padding: 1% 0.5% 1% 0.5%;
    border-radius: 10px;
}
